html, .katex .text {
	font-family: sans-serif;
	color: #444;
	line-height: 1.6;
	font-size: 11pt;
	text-align: justify;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20vh;
	width: 600px;
	max-width: 80%;
}

h1, h2, h3, h4, h5, h6, dt, th {
	color: #333;
	font-weight: bold;
	page-break-after: avoid;
	line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
	margin: 3em 0 1em 0;
	padding: 0.4em 0;
	border-bottom: 1px solid #aaa;
}

h1 {
	font-size: 2.3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.7em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

a {
	color: #02a;
}

dl {
	border-left: 1em solid rgba(0, 0, 0, 0.03);
	padding: 1em 2em;
}

dt {
}

dd {
	margin-left: 2em;
}

blockquote {
	margin: 0;
	padding: 1px 2em;
	border-left: 1em solid #eee;
}

table {
	min-width: 80%;
	margin: 1em auto;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

ol, ul {
	margin-left: -1em;
}

li {
	padding-left: 1em;
}

ol > li {
	list-style-type: decimal;
}

ol ol > li {
	list-style-type: lower-alpha;
}

ol ol ol > li {
	list-style-type: lower-roman;
}

ol ol ol ol > li {
	list-style-type: upper-alpha;
}

ol ol ol ol ol > li {
	list-style-type: upper-roman;
}

code, pre {
	font-family: monospace;
	font-size: 0.9em;
	tab-size: 4;
	background-color: #eee;
	padding: 0.1em 0.2em;
	border: 1px solid #ddd;
}

pre {
	padding: 0.5em;
}

pre code {
	background: none;
	border: none;
}

hr {
	margin: 3em 0;
	border-color: #fff;
}

img, svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

svg {
	stroke: #444;
	fill: none;
}

svg text {
	stroke: none;
	fill: #444;
}

@media print {
	body * {
		visibility: collapse;
	}

	body {
		font-size: 0.9em;
	}

	#wrapper>*:nth-child(1) {
		margin-top: 0;
	}

	#wrapper, #wrapper * {
		visibility: visible;
	}

	#wrapper {
		margin: 0;
		max-width: 100%;
		width: 100%;
	}
}

/* KaTeX styles */
/*
	Current W3C spec means this doesn't work as it should,
	the spec means that even though `overflow-y` is `visible` it
	becomes `auto` for reasons unknown.
*/
/*.katex {
	max-width: 100%;
	overflow-x: auto;
	overflow-y: visible;
}*/

.katex {
	font-size: 1.2em;
}

.katex-display .katex {
	font-size: 1.4em;
}

.katex .mpunct {
	margin-right: 0.2em;
}

.katex .text {
	/*font-size: 0.675em;*/
}
