html, .katex .text {
	font-family: sans-serif;
	color: #444;
	line-height: 1.6em;
	font-size: 11pt;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20vh;
	width: 600px;
	max-width: 80%;
}

h1, h2, h3, h4, h5, h6, dt, th {
	color: #333;
	font-weight: bold;
	margin: 1em 0 0.5em 0;
	page-break-after: avoid;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

a {
	color: #02a;
}

dt {
	margin-top: 1em;
}

dd {
	margin-left: 2em;
}

/*blockquote {
	margin: 0;
	padding: 1px 3em;
	border-left: 2px solid #ddd;
}*/

table {
	min-width: 80%;
	margin: 1em auto;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

ol, ul {
	margin-left: -1em;
}

ol > li {
	padding-left: 1em;
}

code {
	font-family: monospace;
	font-size: 0.9em;
}

pre {
	font-family: monospace;
	font-size: 0.9em;
	tab-size: 4;
}

hr {
	margin: 3em 0;
	border-color: #fff;
}

img, svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

svg {
	stroke: #444;
	fill: none;
}

svg text {
	stroke: none;
	fill: #444;
}

@media print {
	body * {
		visibility: collapse;
	}

	body {
		font-size: 0.9em;
	}

	#wrapper, #wrapper * {
		visibility: visible;
	}

	#wrapper {
		margin: 0;
		max-width: 100%;
		width: 100%;
	}
}

/* KaTeX styles */
/*
	Current W3C spec means this doesn't work as it should,
	the spec means that even though `overflow-y` is `visible` it
	becomes `auto` for reasons unknown.
*/
/*.katex {
	max-width: 100%;
	overflow-x: auto;
	overflow-y: visible;
}*/

.katex {
	font-size: 1.2em;
}

.katex-display .katex {
	font-size: 1.4em;
}

.katex .mpunct {
	margin-right: 0.2em;
}

.katex .text {
	/*font-size: 0.675em;*/
}

/* Custom classes */
.boxed {
	padding: 0 1em;
	border: 1px solid grey;
	page-break-inside: avoid;
